
<div data-role="page" id="eventlist">

	<div data-role="header">
		<h1>Magical mobile app</h1>
		<% if user_signed_in? %>
			<%= link_to "Logout", destroy_user_session_path, method: :delete, # :'data-ajax' => 'false',
	   			:class => 'ui-btn ui-btn-left ui-corner-all ui-shadow',
	   			:'data-transition' => 'none' %>
		<% else %>
	   		<%= link_to 'Login', new_user_session_path,
	   			:class => 'ui-btn ui-btn-left ui-corner-all ui-shadow',
	   			:'data-transition' => 'slide' %>
<% end %>
   		<%= link_to 'Add', new_event_path,
   			:class => 'ui-btn ui-btn-right ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left',
   			:'data-transition' => 'slide' %>
	</div>

	<div data-role="main" class="ui-content">

		<% if user_signed_in? %>
			<h5>Hello, <%= current_user.name %></h5>
		<% end %>

		<% event_time = @now.to_date #@week_events.first.time %>
		<% day_count = 1 %>
		
		<div data-role="collapsible" data-collapsed="false">
		<h4><%= event_time.strftime("%A") %> &mdash; <%= event_time.strftime("%B %-d") %></h4>
		<ul data-role="listview">
		
			<% @week_events.each do |event| %>
		
				<% new_event_time = event.time %>
				<% if event_time.to_date != new_event_time.to_date %>
					<% event_time = new_event_time %>
					<% day_count += 1 %>
					</ul>
					</div>
					<div data-role="collapsible" data-collapsed="<%= (day_count <= 3) ? "false" : "true" %>">
					<h4><%= event_time.strftime("%A") %> &mdash; <%= event_time.strftime("%B %-d") %></h4>
					<ul data-role="listview">					
				<% end %>
		    	<li>
		    		<%= link_to event.name, event_path(event), :'data-transition' => 'slide' %>
		    	</li>
			<% end %>
		</ul>
		</div>

	</div>  

</div> 

