<div data-role="page" data-theme="a" id="eventpage">

	<div data-role="header">
		<%= link_to 'Back', events_path + '/',
			:'data-transition' => 'slide', :'data-direction' => 'reverse',
			:class => 'ui-btn ui-corner-all ui-shadow ui-icon-back ui-btn-icon-left' %>
		<h1><%= app_title %></h1>
   		<%= link_to 'Add', new_event_path, :'data-ajax' => 'false',
   			:class => 'ui-btn ui-btn-right ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left',
   			:'data-transition' => 'slide' %>

	</div>

	<div data-role="main" class="ui-content">

		<h3 class="ui-bar ui-bar-a ui-corner-all"><%= @event.name %></h3>
		<div class="ui-body">
			<p><%= @event.time.strftime("%A -- %B %d") %><br/>
			<%= @event.time.strftime("%I:%M %p") %><br/>
			<%= @event.place %></p>
			<span>Are you going?</span>

			<% if user_signed_in? %>
				<div data-role="controlgroup" data-type="horizontal">
					<% if (!@attending.nil? and @attending) %>
						<a class="ui-btn ui-corner-all ui-icon-check ui-btn-icon-left ui-btn-active">Yes</a>
					<% else %>
						<%= link_to "Yes",
							{:controller => "events", :action => "attend_event", :user_id => current_user.id, :event_id => @event.id, :rsvp => true},
							method: :post, :remote => true, :class => "ui-btn ui-corner-all ui-icon-check ui-btn-icon-left" %>
					<% end %>
					<% if (!@attending.nil? and !@attending) %>
						<a class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-left ui-btn-active">No</a>
					<% else %>
						<%= link_to "No",
							{:controller => "events", :action => "attend_event", :user_id => current_user.id, :event_id => @event.id, :rsvp => false},
							method: :post, :remote => true, :class => "ui-btn ui-corner-all ui-icon-delete ui-btn-icon-left" %>
					<% end %>
				</div>
			<% else %>
				<%= link_to 'Log in to RSVP', new_user_session_path,
	   			:class => 'ui-btn ui-corner-all', :'data-role' => 'button',
	   			:'data-transition' => 'slide' %>
			<% end %>
	
			<div class="ui-body ui-body-a ui-corner-all">
				<p><%= @event.description %></p>
			</div>

		</div>

		<p></p>

		<div data-role="tabs" id="tabs">
			<div data-role="navbar">
			  <ul>
			    <li><a href="#participants" data-ajax="false">Who's going</a></li>
			    <li><a href="#comments" data-ajax="false">Comments</a></li>
			  </ul>
			</div>
			<div id="participants" class="ui-body-d ui-content">
				<ul data-role="listview">
					<% @participants.each do |participant| %>
						<li><%= User.find(participant.user_id).name %>, <%= User.find(participant.user_id).email %></li>
					<% end %>
				</ul>
			</div>
			<div id="comments" class="ui-body-d ui-content">
				<ul data-role="listview">

					<li> 
						<%= form_for @comment, url: {action: :add_comment}, :html => {:'data-ajax' => 'false'} do |c| %>
							<%= c.hidden_field :event_id %>
							<%= c.hidden_field :user_id %>
							<%= c.label :text, 'New comment:' %>
							<%= c.text_field :text %>
							<%= c.submit 'Add comment' %>
						<% end %>

					</li>

					<% @comments.each do |comment| %>
						<li><%= User.find(comment.user_id).name %>: <%= comment.text %> <%= comment.created_at %></li>
					<% end %>

				</ul>
			</div>
		</div>

	</div>

</div>  
