<div data-role="page" id="eventpage">

	<div data-role="header">
		<%= link_to 'Back', events_path,
			:'data-transition' => 'slide', :'data-direction' => 'reverse',
			:class => 'ui-btn ui-corner-all ui-shadow ui-icon-back ui-btn-icon-left' %>
		<h1>Kiki app</h1>
		<a href="#" class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Add</a>
	</div>

	<div data-role="main" class="ui-content">

		<h1> Event Information: </h1>
		Event: <%= @event.name %>
		<br></br>
		Place: <%= @event.place %>
		<br></br>
		Time: <%= @event.time %>
		<br></br>
		Description: <%= @event.description %>

		<br></br>
		<br></br>
		<h1> Participants: </h1>
		<% @participants.each do |participant| %>
		<ul>
			<li><%= User.find(participant.user_id).name %>, <%= User.find(participant.user_id).email %></li>
		</ul>
		<% end %>

		<h1> Comments: </h1>
		<% @comments.each do |comment| %>
		<ul>
			<li><%= User.find(comment.user_id).name %>: <%= comment.text %> <%= comment.created_at %></li>
		</ul>
		<% end %>
	</div>  

</div>  
