<div data-role="page" id="eventpage">

	<div data-role="header">
		<%= link_to 'Back', events_path,
			:'data-transition' => 'slide', :'data-direction' => 'reverse',
			:class => 'ui-btn ui-corner-all ui-shadow ui-icon-back ui-btn-icon-left' %>
		<h1>Kiki app</h1>
		<a href="#" class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Add</a>
	</div>

	<div data-role="main" class="ui-content">

		<h3 class="ui-bar ui-bar-b ui-corner-all"><%= @event.name %></h3>
		<div class="ui-body">
			<p><%= @event.time %><br/>
			<%= @event.place %></p>

			<span>Are you going?</span>

			<div data-role="controlgroup" data-type="horizontal">
				<% if (!@attending.nil? and @attending) %>
					<a class="ui-btn ui-corner-all ui-icon-check ui-btn-icon-left ui-btn-b">Yes</a>
				<% else %>
					<%= link_to "Yes",
						{:controller => "events", :action => "attend_event", :user_id => 1, :event_id => @event.id, :rsvp => true},
						method: :post, :remote => true, :class => "ui-btn ui-corner-all ui-icon-check ui-btn-icon-left" %>
				<% end %>
				<% if (!@attending.nil? and !@attending) %>
					<a class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-left ui-btn-b">No</a>
				<% else %>
					<%= link_to "No",
						{:controller => "events", :action => "attend_event", :user_id => 1, :event_id => @event.id, :rsvp => false},
						method: :post, :remote => true, :class => "ui-btn ui-corner-all ui-icon-delete ui-btn-icon-left" %>
				<% end %>
			</div>
	
			<div class="ui-body ui-body-a ui-corner-all">
				<p><%= @event.description %></p>
			</div>

		</div>

		<p></p>

		<div data-role="tabs" id="tabs">
			<div data-role="navbar">
			  <ul>
			    <li><a href="#participants" data-ajax="false">Participants</a></li>
			    <li><a href="#comments" data-ajax="false">Comments</a></li>
			  </ul>
			</div>
			<div id="participants" class="ui-body-d ui-content">
				<ul data-role="listview">
					<% @participants.each do |participant| %>
						<li><%= User.find(participant.user_id).name %>, <%= User.find(participant.user_id).email %></li>
					<% end %>
				</ul>
			</div>
			<div id="comments" class="ui-body-d ui-content">
				<ul data-role="listview">
					<% @comments.each do |comment| %>
						<li><%= User.find(comment.user_id).name %>: <%= comment.text %> <%= comment.created_at %></li>
					<% end %>
				</ul>
			</div>
		</div>

	</div>

</div>  
