<div data-role="page" data-theme="a" id="eventpage">

	<div data-role="header">
		<%= link_to 'Back', events_path, #:'data-rel' => 'back',
			:'data-transition' => 'slide', :'data-direction' => 'reverse',
			:class => 'ui-btn ui-corner-all ui-shadow ui-icon-back ui-btn-icon-left' %>
		<h1><%= app_title %></h1>
   		<%= link_to 'New', new_event_path,
   			:class => 'ui-btn ui-btn-right ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left',
   			:'data-transition' => 'slide' %>

	</div>

	<div data-role="main" class="ui-content">

		<div class="ui-body ui-body-b ui-corner-all">
			<h3><%= @event.name %></h3>
			<p><%= fa_icon('calendar') %> <%= @event.time.strftime("%A, %b %-d – %-I:%M") + @event.time.strftime("%P").first %><br/>
			   <%= fa_icon('map-marker') %> <%= @event.place %></p>
		</div>
		<div class="ui-body">
			<span>Are you going?</span>

			<% if user_signed_in? %>
				<div data-role="controlgroup" data-type="horizontal">
					<% if (!@attending.nil? and @attending) %>
						<a class="ui-btn ui-corner-all ui-icon-check ui-btn-icon-left ui-btn-active">Yes</a>
					<% else %>
						<%= link_to "Yes",
							{:controller => "events", :action => "attend_event", :user_id => current_user.id, :event_id => @event.id, :rsvp => true},
							method: :post, :remote => true, :class => "ui-btn ui-corner-all ui-icon-check ui-btn-icon-left" %>
					<% end %>
					<% if (!@attending.nil? and !@attending) %>
						<a class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-left ui-btn-active">No</a>
					<% else %>
						<%= link_to "No",
							{:controller => "events", :action => "attend_event", :user_id => current_user.id, :event_id => @event.id, :rsvp => false},
							method: :post, :remote => true, :class => "ui-btn ui-corner-all ui-icon-delete ui-btn-icon-left" %>
					<% end %>
				</div>
			<% else %>
				<%= link_to 'Log in or register to RSVP', new_user_session_path,
	   			:class => 'ui-btn ui-corner-all ui-btn-cta', :'data-role' => 'button',
	   			:'data-transition' => 'slide' %>
			<% end %>

		</div>
	
		<div class="ui-body ui-body-a ui-corner-all">
			<p><%= @event.description %></p>
		</div>


		<p></p>

		<div data-role="tabs" id="tabs">
			<div data-role="navbar">
			  <ul>
			    <li id="participants-li">
			    	<a href="#participants" data-ajax="false" id="participants-tab" class="ui-btn-active">Who's going (<%= @participants.count %>)</a>
			    </li>
			    <li id="comments-li"><a href="#comments" data-ajax="false" id="comments-tab">Comments</a></li>
			  </ul>
			</div>
			<div id="participants" class="ui-body-d ui-content">
				<ul data-role="listview">
					<% @participants.each do |participant| %>
						<li><%= User.find(participant.user_id).name %>, <%= User.find(participant.user_id).email %></li>
					<% end %>
				</ul>
			</div>
			<div id="comments" class="ui-body-d ui-content">
					
					<% if user_signed_in? %>

						<%= form_for @comment, url: {action: :add_comment}, :html => {:'data-ajax' => 'false'} do |c| %>
							<%= c.hidden_field :event_id %>
							<%= c.hidden_field :user_id %>
<!-- 							<%= c.label :text, 'New comment:' %> -->
							<%= c.text_area :text %>
							<%= c.submit 'Send comment' %>
						<% end %>
						
					<% end %>

					<% @comments.each do |comment| %>
					<div class="ui-body ui-body-a">
						<p>
							<strong><%= User.find(comment.user_id).name %></strong><br/>
							<%= comment.created_at.strftime("%b %d") %>, <%= comment.created_at.strftime("%-I:%M %P") %>
						</p>
						<p><%= comment.text %></p>
					</div>
					<% end %>

			</div>
		</div>

	</div>

	<%= render "shared/footer" %>

</div>

<% if @select_comments %>
	<script>
		$('#participants-li').removeClass('ui-tabs-active').removeClass('ui-state-active');
		$('#comments-li').addClass('ui-tabs-active').addClass('ui-state-active');
		$('#participants-tab').removeClass('ui-btn-active');
		$('#comments-tab').addClass('ui-btn-active');
	</script>
<% end %>
